type project
owners
    David Podhola
authors 
    David Podhola
projectUrl
    http://github.com/NaseUkolyCZ/fsharp-angular
iconUrl
    https://raw.githubusercontent.com/NaseUkolyCZ/fsharp-angular/master/docs/files/img/logo.png
licenseUrl
    http://github.com/NaseUkolyCZ/fsharp-angular/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    Complete F# AngularJS example in Visual Studio 2015
description
    Description not set


