source https://nuget.org/api/v2

nuget canopy
nuget FSharp.Formatting
nuget FunScript
nuget FunScript.TypeScript.Binding.jquery
nuget FunScript.TypeScript.Binding.lib
nuget FunScript.TypeScript.Binding.logg
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget PhantomJS
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx